<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311285918254-2tl3glmuf1ihje7ni36lugbhham76799.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311285918254-2tl3glmuf1ihje7ni36lugbhham76799</string>
	<key>API_KEY</key>
	<string>AIzaSyCoHzeOgNgsfggyn2R3FQA9t0R_GhNWw6E</string>
	<key>GCM_SENDER_ID</key>
	<string>311285918254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bharatraj.LoginAppWithSecureEnclave</string>
	<key>PROJECT_ID</key>
	<string>login-app-with--enclave</string>
	<key>STORAGE_BUCKET</key>
	<string>login-app-with--enclave.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311285918254:ios:89a1943a23fb213a05cdbf</string>
	<key>DATABASE_URL</key>
	<string>https://login-app-with--enclave.firebaseio.com</string>
</dict>
</plist>